.sheetRow {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
}

.measureCellText {
  display: inline-block;
  white-space: nowrap;
  padding-left: .5rem;
  padding-right: .5rem;
}

.sheetCell {
  display: inline-block;
  white-space: nowrap;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: #f2f2f2;
}

.oddRow {
  background-color: #ffffff;
}

.sheetCellTopLeft {
  composes: sheetCell;
  border-style: hidden;
  border-top-left-radius: 1vh;
}

.sheetCellTopRight {
  composes: sheetCell;
  border-style: hidden;
  border-top-right-radius: 1vh;
}

.sheetCellBottomLeft {
  composes: sheetCell;
  border-style: hidden;
  border-bottom-left-radius: 1vh;
}

.sheetCellBottomRight {
  composes: sheetCell;
  border-style: hidden;
  border-bottom-right-radius: 1vh;
}