.container {
  display: grid;
  height: 100vh;
  column-gap: .2rem;
  row-gap: 0;
  grid-template-rows: 10vh calc(60vh - 1rem) 30vh 1vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-areas: 
          "header header header"
          ". sheet ." 
          ". prompt ."
          "avoid-overflow avoid-overflow avoid-overflow";
}

@media only screen and (max-width: 600px) {
  .container {
      grid-template-columns: 0fr 1fr 0fr;
  }
}

.header {
  grid-area: header;
  background: linear-gradient(#dddddd, #222222);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: .1vw;
  -webkit-text-stroke-color: #222222;
  font-family: "hobby-of-night";
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 4vh;
}
@media only screen and (max-width: 600px) {
  .header h1 {
      font-size: 3vh;
  }
}

.sheetPane {
  display: block;
  grid-area: sheet;
  width:100%;
}

.promptPane {
  display: block;
  grid-area: prompt;
  width:100%;
}