@value colors: "@/components/commonPalette.module.css";
@value button from colors;

.promptForm textarea {
  width: 100%;
  resize: none;
  font-size: 1vh;
  padding: .3vh;
}

textarea:focus {
  outline: .2vh solid button;
}

.testPrompt {
  font-size: 1vh;
  padding: 1vh;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.testPromptGenerating {
  composes: testPrompt;
  display: inline-block;
  background: linear-gradient(90deg, rgba(.5, .1, 0, 0.2), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  animation: shimmer 1.5s infinite;
}